# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Generate
      run: |
        go generate ./...
        git diff --exit-code

    - name: Build
      run: |
        go build -v ./...
        go build -tags uint256 -v ./...

    - name: Test
      run: |
        go test -v -race -coverprofile=bigint.out ./...
        go test -v -race -tags uint256 -coverprofile=uint256.out ./...
        go install github.com/wadey/gocovmerge@latest
        gocovmerge bigint.out uint256.out > coverage.out
        go tool cover -func=coverage.out

    - name: Upload Coverage
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.out
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
